.navbar {
    background-color: #333;
    padding: 1rem;
  }
  
  .nav-list {
    display: flex;
    list-style: none;
    justify-content: center;
  }
  
  .nav-item {
    margin: 0 1rem;
  }
  
  .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  